<div class="panel panel-default">
   <div class="panel-heading">Most Popular Places</div>
   <div class="panel-body">
      <ol>
         <li>Lebein Bakery</li>
         <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>  &nbsp; 34232 views</p>
         <li>Central Park</li>
         <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>  &nbsp; 20012 views</p>
         <li>Ambsterdam</li>
         <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>  &nbsp; 11232 views</p>
         <li>Sigiriya</li>
         <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>  &nbsp; 9212 views</p>
      </ol>

   </div>
</div>