<div class="panel panel-default">
   <div class="panel-heading">Most Popular Places</div>
   <div class="panel-body">
      <ol>
         <li><a>Lebein Bakery</a></li>
         <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>  &nbsp; 34232 views</p>
         <li><a>Central Park</a></li>
         <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>  &nbsp; 20012 views</p>
         <li><a>Ambsterdam</a></li>
         <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>  &nbsp; 11232 views</p>
         <li><a>Sigiriya</a></li>
         <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>  &nbsp; 9212 views</p>
      </ol>

   </div>
</div>