<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
</script>


<div class="panel panel-default">
   <div class="panel-heading">Flight Bookings</div>
   <div class="panel-body">
      <div class="input-group">
         <span class="input-group-btn">
            <button class="btn btn-default" type="button">From:
         </span></button>
         </span>
         <input type="text" class="form-control" placeholder="Enter city or airport">
      </div>
      <div class="row">&nbsp;</div>
      <div class="input-group">
         <span class="input-group-btn">
            <button class="btn btn-default" type="button">To &nbsp;&nbsp;&nbsp;:
         </span></button>
         </span>
         <input type="text" class="form-control" placeholder="Enter city or airport">
      </div>
      <div class="row">&nbsp;</div>
      <div class='input-group date'>
         <input type='text' class="form-control" id="datepicker" placeholder="Select the date"/>
         <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
         </span>
      </div>
     

      <div class="row">&nbsp;</div>
      <button type="button" class="btn btn-default">Search Flights</button>


   </div>
</div>