<div class="panel panel-default">
   <div class="panel-heading">Hotels, gutest houses, and more...</div>
   <div class="panel-body">

      
      <div class="input-group">
         <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
         <input type="text" class="form-control" placeholder="Check-in Date">
      </div>
      <div class="row">&nbsp;</div>

      <div class="input-group">
         <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
         <input type="text" class="form-control" placeholder="Check-out Date">
      </div>
      <div class="row">&nbsp;</div>
      <div class="input-group">
         <div>
            
         
         </div>
         <form>
            Traveling  for &nbsp;&nbsp;&nbsp;
            <label>
               <input type="radio" id="q128" name="quality[21]" value="1" /> Work&nbsp;&nbsp;
            </label>
            <label>
               <input type="radio" id="q129" name="quality[21]" checked="checked" value="2" /> Leisure
            </label>
         </form>
      </div>
      <div class="row">&nbsp;</div>
      <div class="input-group">
         <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
               2 Adults
               <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
               <li><a href="#">Action</a></li>
               <li><a href="#">Another action</a></li>
               <li><a href="#">Something else here</a></li>
               <li role="separator" class="divider"></li>
            </ul>

            <button class="btn btn-default" type="button">Search</button>
         </div>

      </div>





   </div>
</div>