<style>
#graph {
  width: 80%;
  height: 250px;
  margin: 20px auto 0 auto;
}
pre {
  height: 25%;
  overflow: auto;
}
</style>

<div class="col-md-6">
   <h1>Sample Chart</h1>
   <div id="graph"></div>
<pre id="code" class="prettyprint linenums">
Morris.Donut({
  element: 'graph',
  data: [
    {value: 70, label: 'foo'},
    {value: 15, label: 'bar'},
    {value: 10, label: 'baz'},
    {value: 5, label: 'A really really long label'}
  ],
  formatter: function (x) { return x + "%"}
}).on('click', function(i, row){
  console.log(i, row);
});
</pre>
</div>

<div class="col-md-6">
   <h1>Sample Table</h1>

   <div class="bs-example" data-example-id="contextual-table">
      <table class="table">
         <thead>
            <tr>
               <th>#</th>
               <th>Column heading</th>
               <th>Column heading</th>
               <th>Column heading</th>
            </tr>
         </thead>
         <tbody>
            <tr class="active">
               <th scope="row">1</th>
               <td>Column content</td>
               <td>Column content</td>
               <td>Column content</td>
            </tr>
            <tr>
               <th scope="row">2</th>
               <td>Column content</td>
               <td>Column content</td>
               <td>Column content</td>
            </tr>
            <tr class="success">
               <th scope="row">3</th>
               <td>Column content</td>
               <td>Column content</td>
               <td>Column content</td>
            </tr>
            <tr>
               <th scope="row">4</th>
               <td>Column content</td>
               <td>Column content</td>
               <td>Column content</td>
            </tr>
            <tr class="info">
               <th scope="row">5</th>
               <td>Column content</td>
               <td>Column content</td>
               <td>Column content</td>
            </tr>
            <tr>
               <th scope="row">6</th>
               <td>Column content</td>
               <td>Column content</td>
               <td>Column content</td>
            </tr>
            <tr class="warning">
               <th scope="row">7</th>
               <td>Column content</td>
               <td>Column content</td>
               <td>Column content</td>
            </tr>
            <tr>
               <th scope="row">8</th>
               <td>Column content</td>
               <td>Column content</td>
               <td>Column content</td>
            </tr>
            <tr class="danger">
               <th scope="row">9</th>
               <td>Column content</td>
               <td>Column content</td>
               <td>Column content</td>
            </tr>
            <tr>
               <th scope="row">10</th>
               <td>Column content</td>
               <td>Column content</td>
               <td>Column content</td>
            </tr>
            <tr class="warning">
               <th scope="row">11</th>
               <td>Column content</td>
               <td>Column content</td>
               <td>Column content</td>
            </tr>
            <tr>
               <th scope="row">12</th>
               <td>Column content</td>
               <td>Column content</td>
               <td>Column content</td>
            </tr>
            <tr class="danger">
               <th scope="row">13</th>
               <td>Column content</td>
               <td>Column content</td>
               <td>Column content</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
<script>
   $(function () {
      eval($('#code').text());
      prettyPrint();
   });

</script>