<div class="panel panel-default">
   <div class="panel-heading move">Search Locations</div>
   <div class="panel-body">
      <div class="input-group">
         <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-map-marker"></span></button>
         </span>
         <input type="text" class="form-control" placeholder="Where are you going ?">
         <span class="input-group-btn">
            <button class="btn btn-default" type="button" onClick="trackEvent('Search-Location','Search-Button','$Search',10)">Search</button>
         </span>
      </div>
   </div>
   <script>
   
         var z = 0;
         $(document).ready(function(){
         
             $("div.move").mousemove(function(){
                 $(".move span").text(z += 1);
             });
         });
   </script>