<div class="container-fluid" style="margin:50px;border:2px solid red ;height:900px">
   <div class="row">
      <div class="col-sm-4" style="background-color: #ff0000;">.col-sm-4</div>
      <div class="col-sm-8" style="background-color: #0026ff;">.col-sm-8</div>
   </div>
   <input type="button" data-ng-click="vm.buttonClick()">
   <div class="row">
      <div class="col-sm-4" style="background-color: green;">.col-sm-4</div>
      <div class="col-sm-8" style="background-color: darkmagenta;">.col-sm-8</div>
   </div>
   <div class="row">
      <div class="col-sm-4" style="background-color: brown;">.col-sm-4</div>
      <div class="col-sm-8" style="background-color: yellow;">.col-sm-8</div>
   </div>
</div>